#logo img
{
    width: 90px;
    height: auto;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-top: 10px;
}

header
{
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    border-bottom: 1px solid #E4E3E2;
    width: 100%;
    height: 80px;
    display: flex;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style: none;
    padding: 15px;
    display: flex;
    font-family: 'Inter', sans-serif;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Cambia el color según tu preferencia */
   font-weight: bold;
    font-size: 15px;
}




body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(kyrie.jpeg);
    
    /*background-size: 100% 40%; /* Ancho 100% y alto 40% */
   /* background-repeat: repeat; /* Evita la repetición de la imagen */
  /* background-color: rgb(141, 138, 138); /* Cambia los valores según tu preferencia */
 

   
   
    
    
}

#header-line
{
    border-bottom: 50px solid #000; /* Cambia el grosor y el color de la línea según tus preferencias */
    width: 100%; /* Asegura que la línea se extienda por todo el ancho del header */
    position: absolute; /* Establece la posición absoluta para que la línea esté justo debajo del header */
    bottom: 0; 
}



/* Estilos para los títulos en el área oscura */
#titles {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical de los títulos */
    left: 60px; /* Ajusta la posición horizontal de los títulos */
    color: white; /* Color de texto blanco */
    transform: translate(0, -50%); /* Centra verticalmente los títulos */
    font-family: 'Inter', sans-serif;
}

/* Estilos para el contenido de los títulos */
#titles h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

#titles p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}